{
  "name": "nova",
  "build": {
    "dockerfile": "Dockerfile",
    "context": ".."
  },
  "workspaceMount": "source=${localWorkspaceFolder},target=/nova,type=bind",
  "workspaceFolder": "/nova",
  "customizations": {
    "vscode": {
      "extensions": [
        "eamodio.gitlens@17.0.1",
        "PKief.material-icon-theme@5.27.0",
        "ms-python.python@2025.16.0"
      ]
    }
  }
}